@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
.app {
  background-image: url("https://static.wallhaven.cc/images/layout/bg-dark-grain.png");
  background-repeat: repeat;
  height: 100vh;
  overflow: hidden;
}

.loader {
  height: 100vh;
  width: 100%;
  background-color: #EC1D24;
}

.loader>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}

.nav-bar {
  position: fixed;
  top: 0;
  height: 8vh;
  width: 100%;
  background-color: #202020;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.562);
}

.navbar-logo {
  background: #EC1D24;
  width: 150px;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -3px;
}

.text {
  margin-top: 15px;
  font-size: 3rem;
  font-family: 'Luckiest Guy', cursive;
  color: #fff;
}

.search-bar {
  position: absolute;
  top: 10vh;
  left: 1%;
  right: 0;
  margin: auto;
}

.search-bar>input {
  background-color: transparent;
  color: white;
  border: none;
  width: 20%;
  font-size: 1.5rem;
  text-align: center;
}

.search-bar>input:focus {
  outline: none;
  border-bottom: none;
}

.card-container {
  position: absolute;
  top: 16vh;
  left: 0;
  right: 0;
  margin: auto;
  height: 80vh;
  /* background-color: #fff; */
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 3%;
  overflow: auto;
  padding: 2%;
}

.carD {
  height: 70vh;
  background-size: cover;
  width: 300px;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: inset 0 0 35px rgb(78, 78, 78);
  position: relative;
}

a {
  text-decoration: none;
}

.card-heading>h1 {
  padding-top: 2%;
  font-family: 'Luckiest Guy', cursive;
  color: white;
  writing-mode: vertical-rl;
  transform: translateX(-50px);
  visibility: hidden;
  opacity: 0;
  transition: all .5s;
}

.deletebutton {
  cursor: pointer;
  position: absolute;
  bottom: 3%;
  right: 15%;
  transform: translateY(-50px);
  visibility: hidden;
  opacity: 1;
  transition: all .3s;
}

.card-parent {
  position: relative;
  transition: all .3s;
}

.carD:hover .card-heading>h1 {
  transform: translateX(0px);
  visibility: visible;
  opacity: 1;
}

.card-parent:hover .deletebutton {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}

.add-button {
  color: white;
  position: absolute;
  bottom: 4%;
  right: 4%;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgb(255, 255, 255);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #EC1D24;
  border-radius: 10px;
}

.react-responsive-modal-modal {
  color: #fff;
  width: 50%;
  border-radius: 1%;
  max-height: 90vh;
  text-align: left;
  vertical-align: middle;
  background: #EC1D24!important;
  box-shadow: 0 12px 15px 0 rgb(0 0 0 / 25%);
  position: relative;
  overflow-y: auto;
}

.react-responsive-modal-closeButton {
  cursor: pointer;
  background-color: white !important;
}

.react-responsive-modal-modal>Form {
  padding-top: 5%;
}

.popup-window {
  position: absolute;
  top: 10vh;
  right: 0;
  left: 0;
  margin: auto;
  height: 90vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.836);
  box-shadow: 00 00 100px black;
  overflow-y: auto;
}

.popup {
  position: relative;
  right: 0;
  left: 0;
  margin: auto;
  height: 80vh;
  width: 60%;
  border-radius: 5px;
  background-color: #EC1D24;
  padding: 1%;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.popup-header>button {
  background: transparent;
  border: none;
  z-index: 1;
  color: #fff;
}

.popup-header>input {
  width: 100%;
  background-color: transparent;
  color: #fff;
  font-family: 'Luckiest Guy', cursive;
  font-size: 3rem;
  border: none;
}

.main-box {
  width: 60%;
  height: 100%;
  display: flex;
}

.content {
  width: 100%;
  height: 85%;
  overflow: auto;
}

.content::-webkit-scrollbar {
  display: none;
}

.main-box>.content>* textarea {
  line-height: 17px;
  width: 100%;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding-top: 1%;
  cursor: pointer;
}

.main-box>.content>* textarea:focus, input:focus {
  outline: none;
  border-bottom: 1px solid white;
}

.main-box>.content>* h5 {
  color: #fff;
  font-family: 'Luckiest Guy', cursive;
  font-weight: 100;
}

.content>.desc>textarea {
  min-height: 25vh;
}

.content>.did>textarea {
  min-height: 10vh;
}

.saveButton {
  position: absolute;
  right: 35%;
  bottom: 0;
  background-color: transparent;
  border: none;
  color: #fff;
}

.image>img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 35%;
  z-index: 0;
}

.weapon-card {
  padding: 1%;
  height: 18vh;
  width: 95%;
  display: grid;
  grid-gap: 1%;
  grid-template-columns: .5fr 1.5fr;
  color: #fff;
}

.weapon-card>.weapon-image>img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 5%;
}

.weapon-card>.weapon-content {
  padding: 1%;
  height: 100px;
  overflow: auto;
  margin-right: 5px;
}

.weapon-card>.weapon-content>h6 {
  font-family: 'Luckiest Guy', cursive;
}

.weapon-card>.weapon-content>p {
  font-size: 12px;
}

.add-weapon-btn {
  cursor: pointer;
  color: #fff;
}

.deleteWeapon {
  display: flex;
  cursor: pointer;
  width: 100%;
  justify-content: end;
}

@media (max-width: 700px) {
  .card-container {
    grid-template-columns: 1fr;
    width: 90%;
  }
  .carD {
    width: auto;
  }
  .react-responsive-modal-modal {
    width: 90%;
  }
  .add-button {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }
  .popup {
    height: auto;
    width: 95%;
  }
  .image>img {
    position: relative;
    top: 0;
    right: 0;
    max-width: 100%;
    z-index: 0;
  }
  .saveButton {
    position: absolute;
    right: 0%;
    bottom: 0;
    background-color: transparent;
    border: none;
    color: #fff;
  }
  .main-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  .loader>img {
    height: 50%;
  }
}